#parent{
    width: 75%;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 300px 300px;
    grid-gap: 50px;
    margin: auto;
    margin-top: 100px;
}

.child{
    border: 2px solid black;
    background-color:#2B3B87;
}

img{
    width: 100%;
    height: 100%;
    
}